body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  font-family: 'Courier'
}

.navbar-brand{
  font-family: 'Courier'
}

.hero {
  font-family: 'Courier New';
}

.blinking-cursor {
  background: black;
  margin-left: 3px;
  border-top: 10px;
  animation: blink 1.1s infinite;
  width: 8px;
  height: 78px;
  display: inline-block;
  border-radius: 10px;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
  /* 0% {background: #222}
  50% {background: lime}
  100% {background: #222} */
}

/* .k-card img {
  max-width: 100%;
  transition: all 2.0s;
  display: block;
  transform: scale(1);
}

.k-card:hover img {
  transform: scale(1.3);
} */

.k-card {
  margin: 20px;
  /* transition: box-shadow 0.5s; */
}

.k-card-profile {
  text-align: center;
  margin-bottom: 20px;
}

.k-card-profile-img {
  border-radius: 100%;
  width: 300px;
  height: 380px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.k-card-image:hover {
  transition-timing-function: ease-in;
  box-shadow: 30px 30px 30px 10px #ccc;
  cursor: pointer;
  transform: scale(1.0);
}

.k-card-image {
  border-radius: 10px;
  width: 330px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #ccc;
  transition: box-shadow 0.5s;
}

.k-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.k-card-title {
  font: 24px;
  margin: 0px;
  font-weight:bold;
}

.k-card-sub-title {
  font: 16px;
  margin: 0px;
}

.success-msg {
  font-color: green;
  padding: 10px 15px;
}

.err-msg {
  font-color: red;
  padding: 10px 15px;
}
.welcome-page::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cutewallpaper.org/21/white-background-gif/Dribbble-hexgif-by-Tim-Hykes.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  padding-bottom: 100px;
}
.welcome-page{
  z-index: 1;
  position: relative;
}
.what-page::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cutewallpaper.org/21/white-background-gif/Dribbble-hexgif-by-Tim-Hykes.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  padding-bottom: 100px;
}
.what-page{
  z-index: 1;
  position: relative;
  font-family: 'Courier New';
  font-weight:bold;
  font-size: larger;
}

.who-page::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cutewallpaper.org/21/white-background-gif/Dribbble-hexgif-by-Tim-Hykes.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
}

.who-page{
  z-index: 1;
  position: relative;
}

.who-wrapper::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.xmple.com/wallpaper/white-linear-highlight-yellow-gradient-1920x1080-c2-ffd700-ffffff-l-33-a-315-f-21.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  position: absolute;
  /* text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); */
  z-index: -1;
}
.who-wrapper {
  z-index: 1;
  position: relative;
  text-align: center;
  font-family: 'Courier New';
  font-size: larger;
  font-weight: 600;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.left-what {
  opacity: 0
}

.right-what {
  text-align: right;
}
